<!doctype html>
<html>
    <head>
        <title>MusiMap Home</title>
        <meta name="viewport" content="width=device-width", initial-scale="1">
        <link href="css/bootstrap.css" rel="stylesheet">
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/bootstrap-theme.css" rel="stylesheet">
        <link href="./css/homeScreen.css" rel="stylesheet">

        <!-- Icon Library -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <body>
        <!-- Navbar - Will keep for future styling... -->
        <nav class="navbar">

            <!-- Container for Dropdown and Search bar -->
            <div class="container">
                <div><h2>MusiMap Home</h2></div>
                <!-- Navigation Menu/Dropdown Menu -->
                <div class="navmenu">
                    <div class="dropdown">
                        <button onclick="myFunction()" class="dropbtn" ><i class="fa fa-bars dropbtn"></i></button>
                        <div id="myDropdown" class="dropdown-content">
                            <a href="index">Home</a>
                            <a href="library">My Library</a>
                            <a href="help">Help</a>
                        </div>
                        
                    <!-- Searchbar inline block with dropdown menu -->
                    <form action="results" class="pull-right flex-outer" id="search">
                        <input id="searchbar" size="32" type="text" name="searchName" placeholder="Search Here..." required>
                        <button type="submit" id="search-button"><i class="fa fa-search"></i></button>
                    </form>
                </div>
            </div>
        </nav>
        <div>
            <hr>
            <iframe src="map" style="margin:10px; border:solid; height:500px; width:95%"></iframe>
        </div>
        <div class="textbody">
            <h4>Welcome to Musimap!</h4>
            <p>This is a web app for exploring and cataloging music artists.</p>
            <p>Use the map or search for artists to add to your music collection.</p>
            <hr>
            <h4>Map Instructions:</h4>
            <p>Zoom in and out on the map by scrolling.</p>
            <p>Click and drag whitespace to move the entire map.</p>
            <p>Nodes can be moved as well.</p>
            <p>Click on a node to go to the artist's page.</p>
            <p>Black artists are in your library, gray artists are not.</p>
            <p>Refresh the page to reset and randomize the map layout.</p>
            <p>Visit the help page through the drop-down in the top left for more information.</p>
        </div>

        
        <script src="js/jquery-1.11.0.js"></script>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="js/bootstrap.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script>
        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }

        // Close the dropdown if the user clicks outside of it
        window.onclick = function(event) {
            if (!event.target.matches('.dropbtn')) {

                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }
        </script>
    </body>
</html>
